.jumbotron {
	text-align: center;
	width: 30rem;
	border-radius: 0.5rem;
	top: 0;
	bottom: 100;
	left: 0;
	right: 0;
	position: absolute;
	margin: 4rem auto;
	background-color: #fff;
	padding: 2rem;
}
input:hover{
	color:#071565;
}
input {
	width: 100%;
	margin-bottom: 1.4rem;
	padding: 1rem;
	background-color: #ecf2f4;
	border-radius: 0.2rem;
	border: none;
	color:black;
	border-style:groove;
}
h1 {
	margin-bottom: 3rem;
	font-weight: bold;
	color: #363030;
}
button{
	margin-top:63;
	width: 50%;
	border-radius:1rem;
	padding: 1rem;
	background-color:#3A701E;
	color:white;
	font-size:20;
	border-bottom-color:black;
}
.box {
	position: absolute;
	bottom: 0;
	left: 0;
	margin-bottom: 3rem;
	margin-left: 3rem;
	margin-right: 3rem;
}
